.block {
    width: 100px;
    height: 100px;
    background: #f80; 
    transition: all 0.5s ease, transform 0.5s ease; 
}

.block:hover {
    background: #083; 
    width: 300px; 
    transform: translate(50px, 100px) rotate(180deg); 
}
